
/* estilos de textos  */

#text_center{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos en totalidad */

body{
    background-color: black;
}

/* .ascii-art {
    font-family: monospace;
    white-space: pre;
    text-decoration: #5767F3
} */

/* estilos del head */

/* estilos del header */

/* estilos del body */

/* estilos del footer */

#reference_socialnet{
    padding: auto;
    margin-top: 0.5cm;
}

footer{
    position: absolute;
    margin-top:50px;
    width:100%;
    left: 0px;
    margin-right: 100px;
    background-color: #005399;
}


